<h1>Listing jakeslinks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jakeslinks.each do |jakeslink| %>
  <tr>
    <td><%= jakeslink.name %></td>
    <td><%= jakeslink.url %></td>
    <td><%= link_to 'Show', jakeslink %></td>
    <td><%= link_to 'Edit', edit_jakeslink_path(jakeslink) %></td>
    <td><%= link_to 'Destroy', jakeslink, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jakeslink', new_jakeslink_path %>
