<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jakeslink.name %>
</p>

<p>
  <b>Url:</b>
  <%= @jakeslink.url %>
</p>


<%= link_to 'Edit', edit_jakeslink_path(@jakeslink) %> |
<%= link_to 'Back', jakeslinks_path %>
