<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic2.title %>
</p>

<p>
  <b>Description:</b>
  <%= @topic2.description %>
</p>


<%= link_to 'Edit', edit_topic2_path(@topic2) %> |
<%= link_to 'Back', topic2s_path %>
